---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>Hi I'm royaboya</h2>
			<p>Welcome to my site, I'm currently a second year attending Northeastern and 
			pursuing a bachelor's of science in Cybersecurity. This site will mainly host any future projects 
			or challenges that I work on.
			</p>

			<br /><br />
			<p>
			Currently this site is built on Astro using the default template for now until 
			I choose a better one.
			</p>
			
			
		</main>
		<Footer />
	</body>
</html>
